name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@master

#    - name: Setup QEMU
#      uses: docker/setup-qemu-action@v1

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ vars.USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build image
      uses: docker/build-push-action@v2
      with:
        context: .
#        platforms: ${{ vars.PLATFORMS }}
        push: true
        tags: ${{ vars.USERNAME }}/${{ vars.REPOSITORY }}:latest
